# nginx proxy address - http://172.17.0.1:61012

name: affine
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  app:
    image: ghcr.io/toeverything/affine-graphql:latest
    container_name: affine-app
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    command:
      ['sh', '-c', 'node ./scripts/self-host-predeploy && node ./dist/index.js']
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      PORT: 80
      NODE_ENV: production
      NODE_OPTIONS: --import=./scripts/register.js
      AFFINE_CONFIG_PATH: /root/.affine/config
      AFFINE_SERVER_EXTERNAL_URL: https://${BASE_HOST_NAME:-$HOSTNAME}
      AFFINE_ADMIN_EMAIL: ${APP_ADMIN_USER:-admin}@${BASE_DOMAIN_NAME:-${BASE_HOST_NAME}}
      AFFINE_ADMIN_PASSWORD: ${APP_ADMIN_PASS:-changeme_admin_password}
      DATABASE_URL: postgres://${DB_USER_NAME:-affine}:${DB_USER_PASS:-changeme_db_password}@affine-db:5432/${DB_CREATE_DATABASE_NAME:-affine}
      REDIS_SERVER_HOST: affine-redis
      REDIS_SERVER_PORT: 6379
      TELEMETRY_ENABLE: false
    ports:
      - '172.17.0.1:61012:80'
      - '172.17.0.1:5555:5555'
    volumes:
      - './rootfs/data/affine:/root/.affine/storage'
      - './rootfs/config/affine:/root/.affine/config'
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    networks:
      - affine

  redis:
    image: redis:latest
    container_name: affine-redis
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
    volumes:
      - './rootfs/db/redis/affine:/data'
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - affine

  db:
    image: postgres:latest
    container_name: affine-db
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      POSTGRES_USER: ${DB_USER_NAME:-affine}
      POSTGRES_PASSWORD: ${DB_USER_PASS:-changeme_db_password}
      POSTGRES_DB: ${DB_CREATE_DATABASE_NAME:-affine}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - './rootfs/db/postgres/affine:/var/lib/postgresql/data'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER_NAME:-affine}']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - affine

networks:
  affine:
    name: affine
    external: false
